.news-ticker-container {
    width: 100%;
    height: 80px;
    background-color: var(--color-primary-dark);
    color: white;
    display: flex;
    align-items: stretch;
    border-top: 2px solid var(--color-primary);
    overflow: hidden;
    z-index: 50;
    padding: 0 0 1rem 0;
    box-sizing: border-box;
}



.ticker-wrapper {
    flex: 1;
    overflow: hidden;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ticker-track {
    display: flex;
    white-space: nowrap;
    animation: scroll-left 30s linear infinite;
    padding-left: 2rem;
    margin-top: -0.3rem;
}

.ticker-item {
    font-size: 1.6rem;
    /* Reduced from 2rem */
    font-weight: 700;
    margin-right: 2rem;
}


@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}