.news-ticker-container {
    width: 100%;
    height: 60px;
    background-color: var(--color-surface);
    color: #fff;
    display: flex;
    align-items: center;
    border-top: 2px solid var(--color-primary);
    overflow: hidden;
    z-index: 50;
}



.ticker-wrapper {
    flex: 1;
    overflow: hidden;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.ticker-track {
    display: flex;
    white-space: nowrap;
    animation: scroll-left 30s linear infinite;
    padding-left: 2rem;
}

.ticker-item {
    font-size: 1.1rem;
    margin-right: 2rem;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}